nltk
PyQt6
PyQt6-Qt6
PyQt6_sip
SQLAlchemy
sumy==0.11.0
tokenizers==0.19.1
transformers
tensorflow
torch
torchaudio
torchvision
tensorboard
tensorboard-data-server
tensorflow==2.14.0
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
