nltk
PyQt6
PyQt6-Qt6
PyQt6_sip
SQLAlchemy
sumy==0.11.0
tokenizers
transformers
tensorflow
torch
torchaudio
torchvision
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
