nltk==3.9.1
PyQt6==6.7.1
PyQt6-Qt6==6.7.2
PyQt6_sip==13.8.0
SQLAlchemy==2.0.29
sumy==0.11.0
tokenizers==0.19.1
transformers==4.44.2
tensorflow==2.14.0
torch>=2.1.0
torchaudio>=2.1.0
torchvision>=0.16.0
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-intel==2.14.0
tensorflow-io-gcs-filesystem 0.31.0
